.customcard {
  width: 100%;
  height: 100%;
  border: 1px solid black;
  padding: 20px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  position: relative;
  z-index: 10;
  overflow: hidden;
}
.imgContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 200px;
  overflow: hidden;
  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}
.info {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  flex-grow: 1;
  //   align-items: flex-end;
  // height: 200px;
  .title {
    text-overflow: ellipsis;
    height: 20px;
    overflow: hidden;

    // max-lines: 1;
  }
  .title:hover {
    color: rgb(0, 136, 255);
  }
}

.imghover {
  transition: all 0.3s ease-in;
}

.hovered {
  position: absolute;
  top: 30px;
  right: -50px;
  // display: none;
  //   z-index: -1;
  transition: all 0.5s linear;
  ul {
    list-style: none;
    margin: 0;
    li {
      margin-bottom: 5px;
      .icon {
        background-color: #6c757d;
        padding: 5px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
      }
      .isliked {
        color: red;
      }
    }
  }
}
.customcard:hover {
    border: 1px solid skyblue;
  .hovered {
    right: 5px;
    // display: block;
  }
}
